<a href="https://colab.research.google.com/github/anjalitiwari16aug/Google-Data-Transfer/blob/master/Data_Science_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
if True and False:
  if False:
    print('Hello World')
  else:
    print('Hi')
else:
  print('Hey')

Hey

# Loops

* 1) It provides code reusability.
* 2) Using loops, we do not need to write the same code again and again.
* 3) Using loops, we can traverse over the elements of data structures (array or linked lists).

In [ ]:
range(5)

range(0, 5)

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
# range -> start, stop, step

In [ ]:
for i in range(10,0,-2):
  print(i)

10
8
6
4
2

In [ ]:
str1 = 'Harshvardhan Singh'

for i in str1:
  print(i)

H
a
r
s
h
v
a
r
d
h
a
n

S
i
n
g
h

In [ ]:
## While
count = 0

while count<5:
  print(count)
  count = count + 1

0
1
2
3
4

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
## Loop Control Statements

## Break

for i in range(10):
  if i == 5:
    break
  print(i)

0
1
2
3
4

In [ ]:
# Continue

for i in range(10):
  if i % 2 == 0:
    continue
  print(i)

1
3
5
7
9

In [ ]:
# Pass

for i in range(5):
  if i == 3:
    pass
  print(i)

0
1
2
3
4

In [ ]:
## Pattern Printing

In [ ]:
for i in range(1,6):
  print('* '*i)

*
* *
* * *
* * * *
* * * * *

In [ ]:
for i in range(5,0,-1):
  print('* ' * i)

# * * * * *
# * * * *
# * * *
# * *
# *

* * * * *
* * * *
* * *
* *
*

In [ ]:
num = int(input('Give n '))
print()
for i in range(1, 11):
  print('* '*num)


# * * * * *
# * * * * *
# * * * * *
# * * * * *
# * * * * *

Give n 10

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
num = int(input('Give n '))
print()
for i in range(1, 11):
  if i%2 == 0:
    print('* '*num)
  else:
    print()


#
# * * * * * * * * * *

# * * * * * * * * * *

# * * * * * * * * * *

# * * * * * * * * * *

# * * * * * * * * * *

Give n 10


* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

* * * * * * * * * *

# Q) Calculate the sum of first N natural numbers

In [ ]:
num = int(input('Give me value'))
sum = 0

for i in range(1,num+1):
  sum = sum + i

print('The sum of',num,'Natural numbers is',sum)

Give me value10
The sum of 10 Natural numbers is 55

In [ ]:
num = int(input('Give me value'))
sum = 0
count = 1

while count <= num:
  sum = sum + count
  count = count + 1

print('The sum of',num,'Natural numbers is',sum)

Give me value10
The sum of 10 Natural numbers is 55

In [ ]:
## Nested Loops

for i in range(1,7):
  for j in range(1,7):
    for k in range(1,7):
      print(i,j,k)
print('----')

1 1 1
1 1 2
1 1 3
1 1 4
1 1 5
1 1 6
1 2 1
1 2 2
1 2 3
1 2 4
1 2 5
1 2 6
1 3 1
1 3 2
1 3 3
1 3 4
1 3 5
1 3 6
1 4 1
1 4 2
1 4 3
1 4 4
1 4 5
1 4 6
1 5 1
1 5 2
1 5 3
1 5 4
1 5 5
1 5 6
1 6 1
1 6 2
1 6 3
1 6 4
1 6 5
1 6 6
2 1 1
2 1 2
2 1 3
2 1 4
2 1 5
2 1 6
2 2 1
2 2 2
2 2 3
2 2 4
2 2 5
2 2 6
2 3 1
2 3 2
2 3 3
2 3 4
2 3 5
2 3 6
2 4 1
2 4 2
2 4 3
2 4 4
2 4 5
2 4 6
2 5 1
2 5 2
2 5 3
2 5 4
2 5 5
2 5 6
2 6 1
2 6 2
2 6 3
2 6 4
2 6 5
2 6 6
3 1 1
3 1 2
3 1 3
3 1 4
3 1 5
3 1 6
3 2 1
3 2 2
3 2 3
3 2 4
3 2 5
3 2 6
3 3 1
3 3 2
3 3 3
3 3 4
3 3 5
3 3 6
3 4 1
3 4 2
3 4 3
3 4 4
3 4 5
3 4 6
3 5 1
3 5 2
3 5 3
3 5 4
3 5 5
3 5 6
3 6 1
3 6 2
3 6 3
3 6 4
3 6 5
3 6 6
4 1 1
4 1 2
4 1 3
4 1 4
4 1 5
4 1 6
4 2 1
4 2 2
4 2 3
4 2 4
4 2 5
4 2 6
4 3 1
4 3 2
4 3 3
4 3 4
4 3 5
4 3 6
4 4 1
4 4 2
4 4 3
4 4 4
4 4 5
4 4 6
4 5 1
4 5 2
4 5 3
4 5 4
4 5 5
4 5 6
4 6 1
4 6 2
4 6 3
4 6 4
4 6 5
4 6 6
5 1 1
5 1 2
5 1 3
5 1 4
5 1 5
5 1 6
5 2 1
5 2 2
5 2 3
5 2 4
5 2 5
5 2 6
5 3 1
5 3 2
5 3 3
5 3 4
5 3 5
5 3 6
5 4 1
5 4 2
5 4 3
5 4 4
5 4 5
5 4 6
5 5 1
5 5 2
5 5 3
5 5 4
5 5 5
5 5 6
5 6 1
5 6 2
5 6 3
5 6 4
5 6 5
5 6 6
6 1 1
6 1 2
6 1 3
6 1 4
6 1 5
6 1 6
6 2 1
6 2 2
6 2 3
6 2 4
6 2 5
6 2 6
6 3 1
6 3 2
6 3 3
6 3 4
6 3 5
6 3 6
6 4 1
6 4 2
6 4 3
6 4 4
6 4 5
6 4 6
6 5 1
6 5 2
6 5 3
6 5 4
6 5 5
6 5 6
6 6 1
6 6 2
6 6 3
6 6 4
6 6 5
6 6 6
----

# Data Structures

# List

* Lists are ordered, mutable collections of items.
* They can contain items of different data types.

In [ ]:
lst = []
print(type(lst))

<class 'list'>

In [ ]:
lst = [40, 56, 67, 34, 89, 12]
print(lst)

[40, 56, 67, 34, 89, 12]

In [ ]:
lst = ['Harsh', 40, 56, 67, 34, 89, 12, 3.14, True]
print(lst)

['Harsh', 40, 56, 67, 34, 89, 12, 3.14, True]

In [ ]:
print(len(lst))

9

In [ ]:
## Accessing List Elements

fruits = ['apple','banana','cherry','kiwi','mango','Gauva']

In [ ]:
print(fruits[1])

banana

In [ ]:
for i in range(0, len(fruits)):
  print(i, fruits[i])

0 apple
1 banana
2 cherry
3 kiwi
4 mango
5 Gauva

In [ ]:
for i in fruits:
  print(i)

apple
banana
cherry
kiwi
mango
Gauva

In [ ]:
Flag = False

for i in fruits:
  if i == 'watermelon':
    Flag = True

if Flag:
  print('Found')
else:
  print('Not Found')

Not Found

In [ ]:
# Int-> 1 2 3 5
# Float -> 3.12,34.45,78.56
# String -> "12"
# Boolean -> True, False

In [ ]:
fruits = ['apple','banana','cherry','kiwi','mango','Gauva']

In [ ]:
print(fruits[2])
print(fruits[3])
print(fruits[6])
print(fruits[8])

cherry
kiwi

IndexError: list index out of range

#### [start:stop:step]

In [ ]:
fruits = ['apple','banana','cherry','kiwi','mango','Gauva']

In [ ]:
# print(fruits[1:3])
print(fruits[0:2])
print(fruits[2:3])
print(fruits[3:4])
print(fruits[:])

['apple', 'banana']
['cherry']
['kiwi']
['apple', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva']

In [ ]:
print(fruits[1:5:2])
print(fruits[0:3:3])
print(fruits[0::2])
print(fruits[::-1])

['banana', 'kiwi']
['apple']
['apple', 'cherry', 'mango']
['Gauva', 'mango', 'kiwi', 'cherry', 'banana', 'apple']

In [ ]:
## List Methods

fruits.append('Orange')
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva', 'Orange']

In [ ]:
fruits = ['apple','banana','cherry','kiwi','mango','Gauva']

In [ ]:
lst = []

for i in fruits[::3]:
  lst.append(i)
  print(i)

apple
kiwi

In [ ]:
lst

['apple', 'kiwi']

In [ ]:
## Insert

fruits.insert(1,'watermelon')
print(fruits)

['apple', 'watermelon', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva', 'Orange']

In [ ]:
## Remove

fruits.remove('watermelon')
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva', 'Orange']

In [ ]:
fruits.insert(1,'banana')

In [ ]:
fruits

['apple', 'banana', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva', 'Orange']

In [ ]:
fruits.remove('banana')
fruits

['apple', 'cherry', 'kiwi', 'mango', 'Gauva', 'Orange']

In [ ]:
## Pop method

popped_fruit = fruits.pop()
print(popped_fruit)
print(fruits)

IndexError: pop from empty list

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'Gauva']

In [ ]:
## Index Method

index = fruits.index('banana')
index

1

In [ ]:
## Sort()

fruits.sort()
fruits

['Gauva', 'apple', 'banana', 'cherry', 'kiwi', 'mango']

In [ ]:
## Reverse

fruits.reverse()
fruits

['mango', 'kiwi', 'cherry', 'banana', 'apple', 'Gauva']

In [ ]:
## Clear

fruits.clear()
fruits

[]

### Q) How to print the odd numbers from 1 to 20 and store in the list

In [ ]:
odd = []

for i in range(1,21,2):
  odd.append(i)

In [ ]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
## Iterating over a list

for i in odd:
  print(i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
## Iterating with index

for index,number in enumerate(odd):
  print(index,number)

0 1
1 3
2 5
3 7
4 9
5 11
6 13
7 15
8 17
9 19

## List Comprehension

List Comprehension

* Basics Syantax [expression for item in iterable]

* with conditional logic [expression for item in iterable if condition]

* Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
## Basic

In [ ]:
lst = []

for i in range(10):
  lst.append(i**2)

print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lst = [i**2 for i in range(10)]
print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
lst = [i for i in range(10)]
print(lst)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
## With Conditionals

lst = []

for i in range(10):
  if i%2 == 0:
    lst.append(i)

print(lst)

[0, 2, 4, 6, 8]

with conditional logic [expression for item in iterable if condition]

In [ ]:
lst = [i for i in range(10) if i%2 == 0]
print(lst)

[0, 2, 4, 6, 8]

In [ ]:
## Nested Conditions

Nested List Comprehension [expression for item1 in iterable1 for item2 in iterable2]

In [ ]:
lst1 = [1,2,3,4,5]
lst2 = ['a','b','c','d','e']
lst3 = []

for i in lst1:
  for j in lst2:
    lst3.append([i,j])

print(lst3)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

In [ ]:
a = [[i,j] for i in lst1 for j in lst2]
print(a)

[[1, 'a'], [1, 'b'], [1, 'c'], [1, 'd'], [1, 'e'], [2, 'a'], [2, 'b'], [2, 'c'], [2, 'd'], [2, 'e'], [3, 'a'], [3, 'b'], [3, 'c'], [3, 'd'], [3, 'e'], [4, 'a'], [4, 'b'], [4, 'c'], [4, 'd'], [4, 'e'], [5, 'a'], [5, 'b'], [5, 'c'], [5, 'd'], [5, 'e']]

# Real World Example of List

#### Example 1. Manage A To Do List

In [ ]:
to_do_list = ['Buying Grocery','Cleaning the house','Pay Bills']

## Adding to task
to_do_list.append('Schedule a meeting')
to_do_list.append('Go for a run')

## Removing a complete task
to_do_list.remove('Cleaning the house')

## Checking if a task is in the list
if "Pay Bills" in to_do_list:
  print("Don't forget to pay the utility bills")

print('To Do List Remaining')
for task in to_do_list:
  print(task)

Don't forget to pay the utility bills
To Do List Remaining
Buying Grocery
Pay Bills
Schedule a meeting
Go for a run

### Example 2: Organizing Student Grades

In [ ]:
# 85,92,78,90,88
grades = [85,92,78,90,88]

# append 99
grades.append(99)

# Calculate the average grade
average_grade = sum(grades)/len(grades)
print("The Average is", average_grade)

# Find the highest and lowest grades
highest = max(grades)
lowest = min(grades)
print("Highest Grade is", highest)
print("Lowest Grade is", lowest)

The Average is 88.66666666666667
Highest Grade is 99
Lowest Grade is 78